body{
    background-color: rgb(196, 196, 196);
    padding: 0;
    margin: 0;
}
h1, h2, h3, p, button, li {
    color: white;
    font-family: sans-serif;
}

button {
    padding: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    transform: translate(-1px, -1px);
}

button:active {
    transform: translate(0, 0);
    filter: brightness(0.1);
}

#refresh_btn {
    background-color: rgb(2, 143, 124);
    position: absolute;
    right: 12px;
    bottom: 12px;
}

ul {
    list-style: none;
}

li:hover {
    background-color: rgba(128, 128, 128, 0.678);
    cursor: pointer;
}

#prompt {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 39, 39, 0.781);
}

.open_dialog {
    position: absolute;
    background-color: rgb(37, 37, 37);
    width: 50vw;
    top: calc(50vh - 119px);
    left: calc(25vw - 19px);
    border-radius: 12px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.459);
    padding: 19px;
}
.open_dialog h1 {
    position: relative;
    width: 100%;
    text-align: center;
}

.open_dialog button {
    background-color: rgb(160, 58, 40);
}

#main_frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(92, 92, 92);
    margin: 0;
    padding: 0;
}

#menu_bar {
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(66, 66, 66);
}

#menu_bar ul {
    display: flex;
    list-style: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#menu_bar li {
    padding: 0;
    margin: 2px;
    line-height: 32px;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
}

#menu_options {
    border-radius: 4px;
    z-index: 100;
    position: absolute;
    top: 32px;
    background-color: rgb(44, 44, 44);
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid black
}

#menu_options ul {
    margin: 0;
    padding: 0;
}

#menu_options li {
    margin: 0;
    padding: 6px;
    display: flex;
    font-size: 14px;
}

#menu_options i {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    margin-top: 4px;
}

SceneView {
    position: absolute;
    top: 44px;
    left: 40px;
    width: calc(50vw - 80px);
    height: calc(50vh - 44px);
    background-color: rgb(0, 0, 0);
    border-radius: 4px 0px 4px 4px;
    border: 6px solid rgb(82, 82, 82);
    box-shadow: 0px 0px 1px black;
}

SceneView div {
    width: 16px;
    height: 30px;
    position: absolute;
    right: -22px;
    top: -7px;
    background-color: rgb(82, 82, 82);
    cursor: grab;
    border-radius: 0px 4px 12px 0px;
}

SceneView div:hover {
    box-shadow: 2px 0px 2px rgba(255, 255, 255, 0.295);
}

SceneView div:active {
    cursor: grabbing;
}


canvas {
    width: 100%;
    height: 100%;   
}

SceneView:hover {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.295);
}

#load_dialog {
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: calc(50vh - 200px);
}

#load_dialog h1 {
    width: 100%;
    text-align: center;
}